body {
    font-family: "Oswald", sans-serif;
    background-color: rgb(233, 226, 163);
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    width: 100vw;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/271724616138984267/FD78FE7C4AC9EC2941BACBB457D311B908EA9CCD/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
}

html, body {
    overflow-x: hidden;
}

main{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
    padding: 1rem;
    max-width: 1184px;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 226, 163);
    
}

img {
    width: 100%;
    max-width: 1244px;
    max-height: 500px;
}

/*-----------------------------------------------------Navbar----------------------------------------- */

section.navbar{
    margin-top: 0;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    border: #000 solid 1px;
    border-right: none;
    border-left: none;
    width: 100%;
    margin: 1rem + 10rem 1rem -10rem;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    margin-top: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;   
    margin: 0;
    padding: 0;
}


.Aheader{
    padding: 4vw;
    text-decoration: none;
    color: rgb(158, 64, 47);
    -webkit-text-stroke: .5px #000; /* skuggning på texten*/
    text-shadow: 2px 2px 2px #000;  /* outline på texten*/
}

a:hover, .Aheader:hover{
    font-weight: bold;
}

/*---------------------Navbar slut-----------------------*/

h1{
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    margin: 0;
    padding: 1rem;
}

h2{
    font-size: 1rem;
    padding: 1rem;
    margin: 10px;
}

#bildp{
    margin: 1rem;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(134, 88, 3);
    padding: 1rem;
    font-size: clamp(.5rem, 1vw + .5rem, 1.5rem);
    width: 100%;
    height: 140px;
    max-width: 1184px;
}

#afooter{
    color: white;
    font-size: 18px;
}

.mailnumber{
    color: white;
}

/*v-----------------------Media querys-----------------------v*/

@media (max-width: 400px) {
    .navbar{
        font-size: 1rem;
    }
    a{
        padding: 2vw;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
}
    #afooter{
        font-size: 14px;
    }
}

@media (min-width: 401px) and (max-width: 750px) {
    .navbar{
        font-size: 1.2rem;
    }
    a{
        padding: 2vw;
       
    }
    
}


@media (min-width: 751px) and (max-width: 1200px){
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #bildp{
        display: grid;
        grid-column: -2 / -1;
    }
    .bitconnect{
        display: grid;
        grid-column: 2 / -3;
        grid-row:  3 / -2;
    }
    main{
        max-width: 1184px;
    }

}

@media (min-width: 1201px) and (max-width: 2000px){
    article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #bildp{
        display: grid;
        grid-column: -2 / -1;
    }
    .bitconnect{
        display: grid;
        grid-column: 2 / -3;
        grid-row:  3 / -2;
    }
    
}
