body {
    font-family: "Oswald", sans-serif;
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

.headerimg {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

img {
    max-width: 100%;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000 solid;
    margin: 1rem;
}

nav ul{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    list-style-type:none;
    justify-content: space-around;
    padding: 1rem;
    font-size: 2rem; /* clamp(2rem 3rem 4rem);  /*Clamp för att automatisk justera font size beroende på skärmstorlek*/
    margin: .5rem;
}

a{
    padding: 1rem;
    text-decoration: none;
    color: rgb(226, 226, 0);
    -webkit-text-stroke: .5px #000;
    text-shadow: 2px 2px 2px #000;
}

a:hover{
    font-weight: bold;
    background-color: hsl(0, 0%, 90%); /* lägger till opacity, 100% är osynlig */
}

/*v------------------------------Media querys----------------------------------v*/

@media (max-width: 320px) {
    nav ul{
       font-size: 3.8vw;
       margin: 0;
       padding: 0;
   }
   li{
       padding: 0;
       margin: 0;
   }

}

@media (max-width: 600px) {
     nav ul{
        font-size: 4vw;
        margin: 0;
        padding: 0;
    }
    li{
        padding: 0;
        margin: 0;
    }

}
